body {
  margin: 0;
}
header {
  display: flex;
  background-color: black;
  padding: 5px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 7px;
}
header p {
  display: inline-block;
}
nav {
width: 73%;
padding: 1%;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.logo {
  width: 100px;
  height: auto;
  padding: 12px;
  text-align: left;
}
.heroImg {
  height: 900px;
  background-color: #EBEBEB;
  padding: 25px;
}
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  display: inline-block;
  list-style: none;
  padding-left: 10px;
}
footer li {
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px;
}
