body {
    font-family: 'Telex', sans-serif;
   
}


#hero {
    background-image: url("../img/wireframePencils.jpg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position:center;
    height: 75vh;
    background-color: transparent;
}

.nav-link.active {
    font-weight: 800;
    text-decoration: underline;

}
.navbar-light .navbar-nav .nav-link {
    color: whitesmoke !important;
    

}

.navbar-collapse {
    flex-grow: unset;
}
.navbar-expand-lg .navbar-nav li {
    padding:1%;
   
}
nav{
    padding-left: 40px;
    padding-right: 50px;
    
    
}

nav .hamburger {
    width:180px ;
    text-align: right;
}


.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    height:60%;

}

.jumbotron p {
   display: flexbox;
   text-align: center;
   color: white;
   text-shadow: 1px 1px black;
   background-color: hsla(45, 2%, 48%, 0.863);
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}

.jumbotron h1 {
    color:white;
    font-weight: 800;
    text-shadow: 1px 1px black; 
    margin: 1;  

}


.jumbotron h1 span {
  
    font-weight: 400;

}

.jumbotron .my-4 {
    background-color: black;
}

.profile {

  display: flex;
  height: 500px;
  width: auto;
  padding: 10px;
  margin-top: 40%;
  align-content: right;
  color: black;

}
.card {
  align-content: center;
  justify-items: center;
  display: flex;
}
.card-img {
  margin-top: 30%;
  text-align: center;
  
  padding: 20px;
  height: 600px;
  width: 600px;
}
/* myWork Section */




#myWork {

    margin-top: 25px;
    margin-bottom: 150px;
    padding: 10px;
}

#myWork h2 {
 text-align:center;
 font-size:42px;
 margin-bottom:100px;
 padding: 10px;
 

}


#myWork .myWork-card {

background-size:cover ;
height:565px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom:20px;
padding: 10px;
}

.myWork-card .card-items {
    margin-left:40px;
    margin-right:60px;
    color:white;
    background-color: hsla(45, 2%, 48%, 0.863);
    align-content: center;
    align-items: center;
    padding: 10px;

}

 .btn-primary {
   display: flex;
    background-color:#512fcc;
    border-color: #512fcc;
    border-radius: 0;
    justify-content: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.btn-primary:hover {
    background-color:#473199;
    border-color: #473199;
    
}

.myWork-card .card-items .card-icon {
    width:80%;
    align-content: center;
    text-align: center;
    padding: 10px;
    

}
.getAboard {
  background-image: url(../img/GAB\ Homepage.png);  
}

.wyoming {
background-image: url(../img/WYHomepage.png);  
}
.craftChat {
background-image: url(../img/Splash\ PageHIFI.png);  
}


 h2 .yellow {
    color: #512fcc !important;
    font-size: 60%;
    display: block;
    font-weight:normal;
    justify-content: center;
    align-content: center;
}
h3 {
    color:white;
    text-align: center;
    align-content: center;
}

/* mySkills */

#mySkills {
    padding:200px 0px 100px;
    background-image:url("../img/LotsofBooks.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


#mySkills .mySkills-card {

    background-size: 100%;
    height: 450px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-color: #edeaea;
    padding:20px;
    text-align: center;
    }

.userResearch {
    background-image: url(../img/UserResearch.jpg);  
}

.userInter {
    background-image: url(../img/NotebookSketchwire.jpg);  
}
.webDev {
    background-image: url(../img/WebDevelopment.jpg);  
}



#mySkills .mySkills-card .card-items {
    background-color: white;
    margin: 0px 30px 50px 30px;
    padding:20px;
    align-content: center;
    justify-content: center;
    text-align: center;

    
}       


.mySkills-item .card-items h3 {

    font-size:20px;
    width:45%;
    text-align: center;
    
    
}

.mySkills-item .card-items .heading {
    display:flex;
    justify-content: space-between;
    text-align: center;
    }


 /* Mailing List     */

#subscribe {

    background-image: url("../img/smoke.jpg");

    color:white;
    text-align: center;
    background-size: cover;
    text-shadow: 1px 2px black;
}

#subscribe h2 {
    margin-bottom:30px;

}

#subscribe p{
    margin-bottom:30px;

}

#subscribe .form-container {
    padding-top: 300px;
    padding-bottom: 300px;


}

#subscribe form {
    display: flex;
    justify-content: center;
}
#subscribe input {
    height:50px;
    border-radius: 0;
    width:60%;
    margin-right:20px !important;
  


}






footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;padding:30px;

    
    
}


footer ul li a {
    color:white;
    text-decoration:none;
    
}

.back-top {

    padding:30px;
}

.back-top  img {
    transform: rotate(180deg);
    background-color: #512fcc;

}




.hoverMe {
  grid-area: hover;
  background-color: indigo;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  transition: 0.3s;


}
/* active state */
.hoverMe:hover {
  background-color:tomato;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px black; 
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
  color: black;
}

.my-4 {
  display: flex;
  align-content: center;
  color: black !important;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: #090909;
  top: 0;
  display: flex;
  align-items: center;
}
.preloader img {
  animation: spin 3s ease;
  transition: all;
  width: 150px;
  margin: 0 auto;
}


.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #090909;
  -webkit-animation-name: bodyLight;
          animation-name: bodyLight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition-timing-function: linear;
  font-family: Roboto;
}

.triangle {
  margin: auto;
  border-style: solid;
  border-width: 0 125px 216.5px 125px;
  border-color: transparent transparent #F2F2F0 transparent;
  -webkit-animation-name: triangleMove;
          animation-name: triangleMove;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition-timing-function: linear;
}
.triangle:after {
  position: absolute;
  top: 11.5px;
  left: -114px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 115px 199.2px 115px;
  border-color: transparent transparent #090909 transparent;
}
.triangle-wrap {
  margin: auto;
  position: relative;
  width: 250px;
  height: 217px;
}
.triangle--main {
  position: relative;
  z-index: 10;
}
.triangle--red {
  left: 0;
  top: 0;
  position: absolute !important;
  border-color: transparent transparent red transparent;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.triangle--blue {
  left: 0;
  top: 0;
  position: absolute !important;
  border-color: transparent transparent blue transparent;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.triangle__text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  z-index: 9999;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  background-color: #090909;
  letter-spacing: 20px;
  -webkit-animation-name: textAnim;
          animation-name: textAnim;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@-webkit-keyframes bodyLight {
  30% {
    filter: invert(14%);
  }
  40% {
    filter: invert(10%);
  }
  50% {
    filter: invert(7%);
  }
  60% {
    filter: invert(10%);
  }
  70% {
    filter: invert(12%);
  }
  80% {
    filter: invert(9%);
  }
  90% {
    filter: invert(14%);
  }
  100% {
    filter: invert(11%);
  }
}

@keyframes bodyLight {
  30% {
    filter: invert(14%);
  }
  40% {
    filter: invert(10%);
  }
  50% {
    filter: invert(7%);
  }
  60% {
    filter: invert(10%);
  }
  70% {
    filter: invert(12%);
  }
  80% {
    filter: invert(9%);
  }
  90% {
    filter: invert(14%);
  }
  100% {
    filter: invert(11%);
  }
}
@-webkit-keyframes triangleMove {
  10% {
    transform: translateX(10px);
    filter: blur(3px);
  }
  20% {
    transform: translateX(4px);
    filter: blur(0);
  }
  30% {
    transform: translateX(-5px) skew(0deg);
    filter: blur(3px);
  }
  40% {
    transform: translateX(7px);
    filter: blur(0);
  }
  50% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(2px);
    filter: blur(5px);
  }
  70% {
    transform: translateX(-2px);
    filter: blur(0);
  }
  80% {
    transform: translateX(3px);
    filter: blur(2px);
  }
  90% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}
@keyframes triangleMove {
  10% {
    transform: translateX(10px);
    filter: blur(3px);
  }
  20% {
    transform: translateX(4px);
    filter: blur(0);
  }
  30% {
    transform: translateX(-5px) skew(0deg);
    filter: blur(3px);
  }
  40% {
    transform: translateX(7px);
    filter: blur(0);
  }
  50% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(2px);
    filter: blur(5px);
  }
  70% {
    transform: translateX(-2px);
    filter: blur(0);
  }
  80% {
    transform: translateX(3px);
    filter: blur(2px);
  }
  90% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}
@-webkit-keyframes textAnim {
  10% {
    transform: scale(1.2) skew(180deg);
  }
  11% {
    transform: scale(1) skew(180deg);
  }
  70% {
    transform: scale(1) skew(-300deg);
    filter: blur(1px);
  }
  99% {
    transform: scale(1) skew(200deg);
  }
  100% {
    transform: scale(1) skew(-200deg);
  }
}
@keyframes textAnim {
  10% {
    transform: scale(1.2) skew(180deg);
  }
  11% {
    transform: scale(1) skew(180deg);
  }
  70% {
    transform: scale(1) skew(-300deg);
    filter: blur(1px);
  }
  99% {
    transform: scale(1) skew(200deg);
  }
  100% {
    transform: scale(1) skew(-200deg);
  }
}