nav {
    background-color: darkgrey;
  }
  .navitem {
    padding: 20px;
    display: inline-block;
    background-color: darkslategrey;

  }
  .left {
    float: left;
    background-color: orange;
    height: 1200px;
    width: 29%;
    text-align: center;
  }

  .right {
    float: left;
    background-color: lightgrey;
    height: 1200px;
    width: 70%;
    text-align: center;
  }
  .avatar {
    width: 80%;
    margin-top: 10px ;
  }
  .top {
    background-color: black;
  }
  .bottom {
    padding: 20px;
  }